.App {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(-45deg, #696768, #86808f, #000000, #2f514d, #20060f);
  background-size: 400% 400%;
  animation: gradientAnimation 1s infinite;
  color: #fff;
  position: relative;
}

.world-clocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.world-clock {
  margin: 20px;
}
