.App {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;

  background: linear-gradient(
    -45deg,
    #dac9d1,
    #564969,
    #b17373,
    #70d1c6,
    #20060f
  );
  animation: gradientAnimation 1ms infinite;
  background-size: 100% 100%;

  color: #fff;
  position: relative;
}

.world-clocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.world-clock {
  margin: 20px;
}
